

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    height: 1.2em; 
    white-space: nowrap;
}

.card{
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.36);
}